<!DOCTYPE html>
<html>
<head>
  <title>DEMO</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>
<body>
<div class="wrap">
<div id="J_ReactWrap"></div>
</div>
<!--SCRIPTS-->
<script src="/js/homeIndex.js"></script>
<!--SCRIPTS END-->
</body>
</html>
